<p id="notice"><%= notice %></p>

<h1>Documents</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Company</th>
      <th>File</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each_with_index do |document, index| %>
      <tr>
        <td><%= index +1 %></td>
        <td><%= link_to document.company.name, companies_path(document.company) %></td>
        <td><%= link_to document.document_on_disk %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
